<%- include('header'); -%>

 
<form method="post">

    <table>

        <tr>
            <td>Name : </td>
            <td>
                <input type="text" placeholder="Enter Name" name="boat_name " value="<%= users.boat_name  %>" required> </td>
        </tr>
        <tr>
            <td> ManufractureYear :</td>
            <td>
                <input type="text" placeholder="Enter Email" name="boat_manufractureYear" value="<%= users.boat_manufractureYear %>" required>
            </td>
        </tr>
        <tr>
            <td>Price :</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="boat_price" value="<%= users.boat_price %>" required>
            </td>
        </tr>

        <tr>
            <td>Sail :</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="boat_sail" value="<%= users.boat_sail %>" required>
            </td>
        </tr>
        <tr>
            <td>Motor :</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="boat_motor" value="<%= users.boat_motor %>" required>
            </td>
        </tr>


        <tr>

            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display';">
            </td>
        </tr>
    </table>





</form>

 