
<%- include('header'); -%>
<table>
        <tbody>
        <tr>
                        <td>ID</td>
                        <td>:</td>
                        <td><%= users._id %></td>
        </tr>

     
          <tr>
            <td>Model</td>
            <td>:</td>
            <td><%= users.boat_name %></td>
          </tr>
          <tr>
            <td>ManufractureYear</td>
            <td>:</td>
            <td><%= users.boat_manufractureYear %></td>
          </tr>
          <tr>
            <td>Price</td>
            <td>:</td>
            <td><%= users.boat_price %></td>
          </tr>

          <tr>
            <td>Sail</td>
            <td>:</td>
            <td><%= users.boat_sail %></td>
          </tr>

          <tr>
            <td>Motor</td>
            <td>:</td>
            <td><%= users.boat_motor %></td>
          </tr>
           
        </tbody>
      </table>